{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<h2 style="text-align:center">Your Squats Profile</h2>

<div class="card">
  <p><a class="edit-a" href="{% url 'profile:display_user_profile' object.pk %}"> Preview Profile</a></p>
  <img src="{{ dp_path }}" style="width:300px">
  <h3><span>Name</span>
  <a class="edit-a" href="#" id="name" data-type="text" data-placement="right" data-title="Enter username" data-url="{% url 'apiv1:update_profile' object.pk %}" data-pk="{{ object.pk }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ object.name }}</a></h3>
  <h3><span>Age</span>
        <a class="edit-a" href="#" id="age" data-type="text" data-placement="right" data-title="Enter Age" data-url="{% url 'apiv1:update_profile' object.pk %}" data-pk="{{ object.pk }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{{ object.age }}</a></h3>
  <span>Skills</span>
   	<a class="edit-a" href="#" id="skills" data-type="text" data-placement="right" data-title="Enter skills" data-url="{% url 'apiv1:update_profile' object.pk %}" data-pk="{{ object.pk }}" data-params="{csrfmiddlewaretoken:'{{csrf_token}}'}">{% for skill in object.skills.all %}{{ skill.name }},{% endfor %}</a>
  <h3> Your Images </h3>
  <div>
  <a href="javascript:uploadAvatar('image1');"><img id="image1" width="300" class="img img-rounded" src="{{ object.image1.url }}"></a>
 </div>
 <br/> <br/>
 <div>
 <div>
  <a href="javascript:uploadAvatar('image2');"><img id="image2" width="300" class="img img-rounded" src="{{ object.image2.url }}"></a>
 </div>
</div>
<div class="modal fade" id="avatar_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload Image</h4>
        <span id="error-message"></span>
      </div>
      <div class="modal-body">
          <form id="upload-file" method="post" enctype="multipart/form-data">
              <input type="hidden" id="avatar_user_id" name="avatar_user_id" value="{{ user.pk }}"/>
            <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
                <input name="file" type="file" id="input-file">
            </span>
            <button id="upload-file-btn" type="button" class="btn btn-primary">Upload</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript">
$.fn.editable.defaults.mode = 'inline';

    $('#name').editable({});
    $('#age').editable({});
    $('#skills').editable({});
    $('#profile_image').editable({});
</script>
<script type="text/javascript">
	function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $(id).attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#id_image1").change(function(){
        readURL(this, "#image1");
    });
    $("#id_image2").change(function(){
        readURL(this, "#image2");
    });
</script>
<script type="text/javascript">
  function uploadAvatar(id)
          {
              $("#input-file").attr('name', id);
              $('#avatar_form').modal();
          }
</script>

<script>
  $(function () {
      $('#upload-file-btn').click(function () {
          var form_data = new FormData($('#upload-file')[0]);
          form_data.append('csrfmiddlewaretoken','{{csrf_token}}');
          $.ajax({
              type: 'POST',
              url: '/apiv1/user/'+$("#avatar_user_id").val()+'/',
              data: form_data,
              contentType: false,
              cache: false,
              processData: false,
              async: false,
              success: function (data) {              
                  $('#avatar_form').modal('hide');
                  if (data['image1']){
                    $("#image1").attr("src", data['image1']);
                  } else if (data['image2']) {
                    $("#image2").attr("src", data['image2']);    
                  }
              },
              error : function (data) {
                console.log(data);
                $('#error-message')[0].innerHTML = data.responseJSON.error;
              }
          });
      });
  });
</script>
{% endblock %}