{% load profile_utils %}
<div class="row form-field-horizontal">
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        {% if field.html_name == 'skills' %}
        <label class="col-sm-2 control-label" for="id_{{ field.html_name }}">Skills</label>
        {% else %}
        <label class="col-sm-2 control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
        {% endif %}
        <div class="col-sm-4">
            {{ field|addclass:'form-control' }}
        </div>
        
        {% if field.html_name == 'image1' %}
            <span>
                <label for="id_profile_image_0"><input type="radio" name="profile_image" value="dp1" required class="form-control" id="id_profile_image_0" checked="check" />
                 Make it profile picture</label>                     
            </span>
        {% endif %}
        {% if field.html_name == 'image2' %}
            <span>
                <label for="id_profile_image_1"><input type="radio" name="profile_image" value="dp2" required class="form-control" id="id_profile_image_1" />
                 Make it profile picture</label>
            </span>
        {% endif %}
        <span class="help-block col-sm-9 col-sm-offset-2">
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% else %}
                {{ field.help_text }}
            {% endif %}
        </span>

    </div>    
</div>
