{% extends 'base.html'  %}

{% block content %}
    <a href={% url 'profile:new-user-profile' %}>
    	<button class="btn btn-default primaryAction">Create New Profile</button>
    </a>
    <br>
    <h3><p>Users Profile List</p></h3>
    <div class="row">
    <ul>
    	{% for user in object_list %}
    		<li>
    			<h3><a href="{% url 'profile:display_user_profile' user.pk %}">{{ user.name }}</a></h3>
    		</li>
    	{% endfor %}
    </ul>
    </div>
{% endblock %}