{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="col-sm-12">
		<form method="post" enctype="multipart/form-data">
		  	{% csrf_token %}
			{{ form.non_field_errors }}
			{% include 'form-field-horizontal.html' with field=form.name %}
			{% include 'form-field-horizontal.html' with field=form.age %}
			<div class="row form-group">
				{% include 'form-field-horizontal.html' with field=form.skills %}
			</div>
			<div class="row">
			    <div class="row">
			    	<div class="image-input">
				    	{% include 'form-field-horizontal.html' with field=form.image1 %}
			    	</div>
		    	</div>
		    	<div class="row">
    		    	<div class="image-display col-sm-6">
    			    	<img id="image1" src="#" width="300" />
    		    	</div>
		    	</div>
			</div>
			<div class="row">
			    {% include 'form-field-horizontal.html' with field=form.image2 %}
			    <img id="image2" src="#" width="300" />
			</div>

			        

			<div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<button type="submit" class="btn btn-primary primaryAction">Save</button>
				</div>
			</div>
		</form>		
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	function readURL(input, id) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $(id).attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#id_image1").change(function(){
        readURL(this, "#image1");
    });
    $("#id_image2").change(function(){
        readURL(this, "#image2");
    });
</script>
{% endblock %}