{% extends "base.html" %}
{% block css %}
{% endblock %}
{% block content %}
<h2 style="text-align:center">Your Squats Profile</h2>

<div class="card">
  <p><a class="edit-a" href="{% url 'profile:edit-user-profile' object.pk %}"> Edit Profile</a></p>
  <img src="{{ dp_path }}" style="width:300px">
  <h1>{{ object.name }}</h1>
  <h3>Age {{ object.age }}</h3>
  <h3>{% for skill in object.skills.all %}{{ skill.name }} {% endfor %}</h3>
  <h3> Your Images </h3>
  <div style="margin: 24px 0;">
    <img src="{{ object.image1.url }}" style="width:300px"> <br/> <br/>
    <img src="{{ object.image2.url }}" style="width:300px">
 </div>
</div>
{% endblock %}